@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
	background-image: url("../src/assets/images/background4.jpg");
	background-size: cover;
}

.logo {
	font-family: "Homemade Apple", cursive;
}

.login {
	background-color: #57534e;
}
